In [154]:
import pandas as pd
import re
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [155]:
df_airline_reviews = pd.read_csv('../dataset/Airline_Qatar_Reviews.csv')

In [156]:
airport_mapping = {
    "tokyo": "TYO",  # Multiple airports (Narita, Haneda)
    "doha": "DOH",    # Doha
    "doh" : "DOH",
    "auckland": "AKL",
    "düsseldorf": "DUS",
    "new york": "NYC",  # Multiple airports (JFK, LGA, EWR)
    "new york jfk": "JFK",
    "penang": "PEN",
    "ahmedabad": "AMD",
    "tbilisi": "TBS",
    "spain": "MAD",    # Using Madrid as representative
    "london": "LON",    # Multiple airports (Heathrow, Gatwick, etc.)
    "london heathrow": "LHR",
    "bali": "DPS",
    "copenhagen": "CPH",
    "dallas ft worth": "DFW",
    "manchester": "MAN",
    "athens": "ATH",
    "bangkok": "BKK",
    "ho chi minh city": "SGN",  # Tan Son Nhat
    "kuwait": "KWI",
    "dubai": "DXB",
    "milan": "MXP",
    "lusaka": "LUN",
    "istanbul": "IST",
    "melbourne": "MEL",
    "seattle": "SEA",
    "brussels": "BRU",
    "denpasar": "DPS",
    "stockholm": "ARN",
    "riyadh": "RUH",
    "zurich": "ZRH",
    "oslo": "OSL",
    "kathmandu": "KTM",
    "paris": "CDG",
    "vienna": "VIE",
    "colombo": "CMB",
    "amsterdam": "AMS",
    "washington": "WDC",  # Using D.C. area as representative
    "singapore": "SIN",
    "abu dhabi": "AUH",
    "entebbe": "EBB",
    "johannesburg": "JNB",
    "sydney": "SYD",
    "brisbane": "BNE",
    "philadelphia": "PHL",
    "beirut": "BEY",
    "edinburgh": "EDI",
    "geneva": "GVA",
    "montreal": "YUL",
    "chicago": "CHI",  # Multiple airports (ORD, MDW)
    "dallas": "DFW",
    "hanoi": "HAN",
    "maputo": "MPM",
    "rome": "FCO",
    "jakarta": "CGK",
    "phuket": "HKT",
    "dublin": "DUB",
    "manila": "MNL",
    "los angeles": "LAX",
    "madrid": "MAD",
    "tehran": "IKA",  # Imam Khomeini International Airport
    "sofia": "SOF",
    "lagos": "LOS",
    "delhi": "DEL",
    "frankfurt": "FRA",
    "perth": "PER",
    "nairobi": "NBO",
    "thailand": "BKK",  # Using Bangkok as representative
    "atlanta": "ATL",
    "algiers": "ALG",
    "munich": "MUC",
    "miami": "MIA",
    "kuala lumpur": "KUL",
    "san francisco": "SFO",
    "kochi": "COK",
    "cape town": "CPT",
    "islamabad": "ISB",
    "jarkata" : "CGK",
    'franfurt': "FRA",
    'brisibane': "BNE",
    'ho chi minh': "SGN",
    "cochin": "COK",
    "kigali": "KGL",
    "erbil": "EBL",
    "boston": "BOS",
    "toronto": "YYZ",  # Toronto Pearson International
    "warsaw": "WAW",
    "mumbai": "BOM",  # Mumbai (formerly Bombay)
    "lagos, nigeria": "LOS",
    "tunis": "TUN",
    "cairo": "CAI",
    "male": "MLE",  # Malé
    "chennai": "MAA",  # Chennai (Madras)
    "bodrum": "BJV",
    "chengdu": "CTU",
    "cebu": "CEB",
    "belgrade": "BEG",
    "dammam": "DMM",
    "adelaide": "ADL",
    "dallas fort worth": "DFW",
    "kozikhode": "COK",  # Calicut
    "houston": "IAH",  # George Bush Intercontinental
    "helsinki": "HEL",
    "zanzibar": "ZNZ",
    "hong kong": "HKG",
    "dhaka": "DAC",
    "hyderabad": "HYD",
    "kyiv": "KBP",  # Kyiv Boryspil International
    "berlin": "BER",
    "zagreb": "ZAG",
    "bucharest": "OTP",
    "najaf": "NJF",
    "lahore": "LHE",
    "seoul": "ICN",  # Incheon International
    "mogadishu": "MGQ",
    "zvartnots": "EVN",  # Yerevan (Zvartnots Airport)
    "krabi": "KBV",
    "sulaymaniyah": "ISU",
    "tblisi": "TBS",  # Tbilisi
    "lisbon": "LIS",
    "amman": "AMM",
    "barcelona": "BCN",
    "bangalore": "BLR",
    "amritsar": "ATQ",
    "yangon": "RGN",
    "budapest": "BUD",
    "prague": "PRG",
    "gatwick": "LGW",
    "pisa": "PSA",
    "venice": "VCE",
    "goa": "GOI",
    "heathrow": "LHR",
    "mahe": "SEZ",  # Seychelles International
    "nice": "NCE",
    "kolkata": "CCU",
    "kiev": "KBP",  # Kyiv Boryspil International
    "calicut": "COK",
    "moscow": "SVO",  # Sheremetyevo International
    "paris cdg": "CDG",
    "birmingham": "BHX",
    "clark": "CRK",
    "canberra": "CBR",
    "cardiff": "CWL",
    "mahé, seychelles": "SEZ",
    "bombay": "BOM",  # Mumbai
    "ankara": "ESB",
    "nagpur": "NAG",
    "shanghai": "PVG",  # Shanghai Pudong
    "karachi": "KHI",
    "marrakech": "RAK",
    "berlin tegel": "TXL",  # Berlin Tegel
    "muscat": "MCT",
    "durban": "DUR",
    "baku": "GYD",
    "maa": "MAA",  # Chennai (Madras)
    "salalah": "SLL",
    "london heatrhow": "LHR",  # Heathrow
    "phnom penh": "PNH",
    "luxor": "LXR",
    "txl": "TXL",  # Berlin Tegel
    "crk": "CRK",  # Clark
    "washington dc": "WDC",  # D.C. area
    "bcn": "BCN",  # Barcelona
    "sharjah": "SHJ",
    "medina": "MED",
    "taif": "TIF",
    "dar es salam": "DAR",  # Julius Nyerere International
    "jinnah int": "KHI",  # Jinnah International
    "dubai dwc": "DWC",  # Dubai World Central
    "düsseldorf": "DUS",
    "dusseldorf": "DUS",
    "gothenburg": "GOT",
    "kilimanjaro": "JRO",
    "diha": "DOH",
    "detroit": "DTW",
    "luanda": "LAD",  # Luanda
    "sao paulo": "GRU",  # São Paulo
    "kathmanda": "KTM",  # Kathmandu
    "bahrain": "BAH",  # Bahrain
    "mactan": "CEB",  # Mactan-Cebu
    "london gatwick": "LGW",  # London Gatwick
    "san diego": "SAN",  # San Diego
    "kozhikode": "COK",  # Kozhikode
    "chicago o'hare": "ORD",  # Chicago O'Hare
    "sialkot": "SKT",  # Sialkot
    "casablanca": "CMN",  # Casablanca
    "larnaca": "LCA",  # Larnaca
    "jeddah": "JED",  # Jeddah
    "maldives": "MLE",  # Malé
    "keflavik": "KEF",  # Keflavik
    "basra": "BSR",  # Basra
    "yerevan": "EVN",  # Yerevan
    "bengaluru": "BLR",  # Bengaluru
    "sao paulo gru": "GRU",  # São Paulo
    "bermuda": "BDA",  # Bermuda
    "seoul incheon": "ICN",  # Seoul Incheon
    "vancouver": "YVR",  # Vancouver
    "danang": "DAN",  # Da Nang
    "st petersburg": "LED",  # St. Petersburg
    "da nang": "DAN",  # Da Nang
    "antalya": "AYT",  # Antalya
    "langkawi": "LGK",  # Langkawi
    "multan": "MUX",  # Multan
    "rio de janeiro": "GIG", 
    "windhoek": "WDH",
    "baghdad": "BGW",
    "são paulo": "GRU",
    "hi chi minh city": "SGN",
    "trivandrum": "TRV",
    "incheon": "ICN",
    "guangzhou": "CAN",
    "chongqing": "CKG",
    "phnom penh": "PNH",
    "alexandria": "HBE",
    "bruvia doh": "DOH",
    "doha airport": "DOH",
    "istanbul (saw)": "SAW",
    "johanesburg": "JNB",
    "pnom penh" : "PNH"
}

In [157]:
month_mapping = {
    np.nan : 0,
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

In [158]:
verified_mapping = {
    0.0: 'False',
    1.0: 'True',
    np.nan: 'Unknown'
}

In [159]:
travelers_types_values = ['Solo Leisure', 'Couple Leisure', 'Business', 'Family Leisure']
class_values = ['Economy Class', 'Business Class', 'First Class',
       'Premium Economy']
recommended_values = ['yes', 'no', 'Yes', 'No']
verified_values = ['Trip Verified', 'Not Verified']

In [160]:
aircraft_pattern = patterns = [
    r'Boeing \d{3}(-\d+)?',  # Matches 'Boeing 787', 'Boeing 787-777', etc.
    r'A3\d{2} (neo)?',         # Matches 'A319', 'A321neo', etc.
]
route_pattern = r'([A-Za-z]+(?:-[A-Za-z]+)*\s*(?:to|–|-)\s*[A-Za-z]+(?:-[A-Za-z]+)*(?:\s+via\s+[A-Za-z]+(?:-[A-Za-z]+)*)*)'
month_year_pattern = r'([A-Za-z]+ \d{4})'

In [161]:
def check_row_for_valid_type(row, valid_types):
    for val in row:
        if val in valid_types:
            return val  # Return the first match found
    return None  # If no match is found, return None

In [162]:
def check_for_aircraft(row, patterns):
    for val in row:
        if isinstance(val, str):  # Ensure the value is a string
            for pattern in patterns:
                if re.search(pattern, val):  # If pattern is found in the value
                    return re.search(pattern, val).group()  # Return the matching pattern
    return None  # Return None if no match is found

In [163]:
def check_for_route(row):
    # Iterate through each value in the row
    for val in row:
        if isinstance(val, str):  # Check if the value is a string
            if ' to ' in val.lower() or ' via ' in val.lower():  # Check for 'to' or 'via'
                return val  # Return the matching value
    return None  # Return None if no match is found

In [164]:
def extract_route(text):
    if text is None:  # Handle None case explicitly
        return None  # You can return an empty string or 'No route found' if you prefer
    match = re.search(route_pattern, text)  # Search for a matching route pattern
    if match:
        return match.group(0)  # Return the matched route
    return None  # If no route is found, return None

In [165]:
def extract_month_year(text):
    # Check if the data is not a string (if it's NaN, a number, list, etc.)
    if not isinstance(text, str):  # If it's not a string, return None
        return None
    
    # If text is a valid string, apply the regex search
    match = re.search(month_year_pattern, text)  # Search for the pattern
    if match:
        return match.group(0)  # Return the matched "Month Year" format
    return None  # If no match, return None

In [166]:
df_airline_reviews['Date'] = df_airline_reviews['Date Published'].combine_first(df_airline_reviews['Date'])
df_airline_reviews.drop(columns=['Unnamed: 0', 'Date Published'], inplace=True)
df_airline_reviews['Date'] = pd.to_datetime(df_airline_reviews['Date'])

In [167]:
df_airline_reviews = df_airline_reviews.drop(columns='Max Rating')
df_airline_reviews['Rating'] = df_airline_reviews['Rating'].fillna(0)
df_airline_reviews['Rating'] = df_airline_reviews['Rating'].astype(int)

In [168]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def clean_text(text):
    text = re.sub(r'[^\w\s]', '', text.lower())  # Lowercase and remove punctuation
    text = ' '.join([word for word in text.split() if word not in stop_words])  # Remove stop words
    text = ' '.join([lemmatizer.lemmatize(word) for word in text.split()])  # Lemmatize
    return text

In [169]:
df_airline_reviews['Title'] = df_airline_reviews['Title'].fillna('Unknown')
df_airline_reviews['Author'] = df_airline_reviews['Author'].fillna('Unknown')
df_airline_reviews['Review Body'] = df_airline_reviews['Review Body'].fillna('Unknown')

df_airline_reviews['Title'] = df_airline_reviews['Title'].astype(str)
df_airline_reviews['Author'] = df_airline_reviews['Author'].astype(str)
df_airline_reviews['Review Body'] = df_airline_reviews['Review Body'].astype(str)

df_airline_reviews['Title'] = df_airline_reviews['Title'].apply(clean_text)
df_airline_reviews['Author'] = df_airline_reviews['Author'].apply(clean_text)
df_airline_reviews['Review Body'] = df_airline_reviews['Review Body'].apply(clean_text)

In [170]:
df_airline_reviews['Country'] = df_airline_reviews['Country'].fillna('unknown')
df_airline_reviews['Country'] = df_airline_reviews['Country'].apply(lambda x:x.lower())
df_airline_reviews['Country'] = df_airline_reviews['Country'].astype('category')

In [171]:
df_airline_reviews['Seat Type'] = df_airline_reviews['Seat Type'].astype(str)
df_airline_reviews['Seat Type'] = df_airline_reviews['Seat Type'].apply(lambda x:x.lower())
df_airline_reviews['Seat Type'] = df_airline_reviews['Seat Type'].astype('category')

In [172]:
def standardize_route(route):
    # Split the route by ' to ' and ' via '
    route = route.lower()
    parts = route.split(' to ')
    if len(parts) == 2:
        origin = parts[0].strip()
        destination_and_via = parts[1].strip().split(' via ')
        destination = destination_and_via[0].strip()
        via = destination_and_via[1].strip() if len(destination_and_via) > 1 else ''
        
        # Join the parts in the desired format
        new_route = f"{origin}-{via}-{destination}".strip('-')
        return new_route
    return route  # Return the original route if it doesn't match the expected format

In [173]:
def split_route(route):
    if pd.isna(route):
        return pd.Series([np.nan, np.nan, np.nan])
    
    # Replace '--' and split by spaces and hyphens
    route = route.replace('--', '-').replace(' via ', ' - ').replace(' - ', '-')
    airports = route.split('-')
    
    source = airports[0].strip()
    destination = airports[-1].strip()
    via = [airport.strip() for airport in airports[1:-1]] if len(airports) > 2 else []
    
    return pd.Series([source, destination, via])

In [174]:
def map_airports(row):
    source_code = airport_mapping.get(row['Source'].lower(), row['Source'])
    destination_code = airport_mapping.get(row['Destination'].lower(), row['Destination'])
    via_codes = [airport_mapping.get(airport.lower(), airport) for airport in row['Via']]
    
    return pd.Series([source_code, destination_code, via_codes])

In [175]:
def split_via(via_list):
    if isinstance(via_list, list) and via_list:
        # Flatten the list and split on '//' or any other delimiter
        return [item for sublist in via_list for item in sublist.split('//')]
    return []

In [176]:
def uppercase_via(via_list):
    if isinstance(via_list, list) and via_list:
        # Split on '//' and convert to uppercase
        return [item.upper() for sublist in via_list for item in sublist.split('//')]
    return []

In [177]:
df_airline_reviews['Route'] = df_airline_reviews['Route'].astype(str)
df_airline_reviews['Route'] = df_airline_reviews['Route'].apply(standardize_route)
df_airline_reviews[['Source', 'Destination', 'Via']] = df_airline_reviews['Route'].apply(split_route)
df_airline_reviews[['Source', 'Destination', 'Via']] = df_airline_reviews.apply(map_airports, axis=1)
code_columns = ['Source', 'Destination']
df_airline_reviews[code_columns] = df_airline_reviews[code_columns].apply(
    lambda col: col.where(col.isna(), col.str.upper())
)
df_airline_reviews['Via'] = df_airline_reviews['Via'].apply(split_via)
df_airline_reviews['Via'] = df_airline_reviews['Via'].apply(uppercase_via)

In [178]:
df_airline_reviews.drop(columns=['Route'], inplace=True)

In [179]:
df_airline_reviews[['Date Flown Month', 'Date Flown Year']] = df_airline_reviews['Date Flown'].str.split(' ', expand=True)

In [180]:
df_airline_reviews['Date Flown Month'] = df_airline_reviews['Date Flown Month'].map(month_mapping)
df_airline_reviews['Date Flown Month'].fillna(0).astype(int)
df_airline_reviews.drop(columns=['Date Flown'], inplace=True)

In [181]:
def clean_and_split_aircraft(aircraft_str):
    if pd.isna(aircraft_str) or aircraft_str.strip().upper() == 'UNKNOWN':
        return np.nan
    # Normalize separators and split
    cleaned_str = aircraft_str.replace('/', ',').replace(' AND ', ',').replace(' and ', ',')
    return [a.strip().upper() for a in cleaned_str.split(',')]

In [182]:
df_airline_reviews['Aircraft'].fillna('Unknown', inplace=True)
# Standardize aircraft names
df_airline_reviews['Aircraft'] = df_airline_reviews['Aircraft'].apply(clean_and_split_aircraft)

# Split multi-value entries into separate rows
df_airline_reviews = df_airline_reviews.explode('Aircraft')

/tmp/ipykernel_19314/61754019.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_airline_reviews['Aircraft'].fillna('Unknown', inplace=True)

In [183]:
df_airline_reviews['Verified'] = df_airline_reviews['Verified'].map(verified_mapping)
df_airline_reviews['Verified'] = df_airline_reviews['Verified'].astype('category')

In [184]:
df_airline_reviews['Recommended'].unique()
df_airline_reviews.drop(columns=['Recommended'], inplace=True)

In [185]:
def count_elements(arr):
    counts = len(arr)
    return counts

# Example usage
arr = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
counts = count_elements(arr)
print(counts)

df_airline_reviews['Via'] = df_airline_reviews['Via'].apply(count_elements)

10

In [186]:
df_airline_reviews.sample(5)

,Rating,Title,Author,Country,Date,Review Body,Type Of Traveller,Seat Type,Aircraft,Verified,Source,Destination,Via,Date Flown Month,Date Flown Year
1717,8,cabin crew greatest asset,n brandt,netherlands,2016-01-13,returning doha amsterdam trip thailand qatar a...,NaN,economy class,BOEING 787-800,Unknown,NAN,NAN,0,1,2016
1147,10,unknown,w newman,new zealand,2018-04-25,dublin auckland via doha flown numerous time n...,NaN,economy class,NaN,True,NAN,NAN,0,4,2018
464,0,happy qatar airway,jegan babulal,united states,2022-03-14,airline great staff cheap went economy seat co...,Family Leisure,premium economy,A350-900,False,DFW,BLR,1,3,2022
2148,0,qatar airway customer review,mcneill,united kingdom,2014-07-13,booked six qatar airway flight london bahrain ...,NaN,economy class,NaN,Unknown,NAN,NAN,0,0,NaN
1569,8,enjoy inflight hospitality,haseeb saleem,sweden,2016-07-22,verified review stockholm lahore return via do...,Family Leisure,economy class,BOEING 787,Unknown,ARN,LHE,1,10,2015

In [187]:
df_airline_reviews.to_csv('../dataclean/qatar_reviews.csv')

In [188]:
df_airline_reviews.drop(columns='Via').duplicated().sum()

np.int64(0)